header{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.85;
    background-color: lightgoldenrodyellow;
    font-family: 'Galada', cursive;
    color: #8d453d;
}

h2{
    float: left;
    text-align: center;
    font-size: xx-large;
    font-family: 'Galada', cursive;
    color: #8d453d;
}

#name{
    padding-left: 48%;
    padding-right: 800px;
}

a:link {
    text-decoration: none;
    color: #8d453d;
}

a:visited {
    color: #8d453d;
}

#postArea{
    float: left;
    width: 800px;
    height: 250px;
    margin-left: 500px;
    margin-top: 500px;
}

