#updateBtn{
    float: right;
    height: 50px;
    width: 100px;
}
#printPost{
    margin-top: 20px;
    padding-left: 300px;
    border-top: #8d453d solid 3px;
}

td{
    padding-top: 10px;
    width: 500px;
}

h3{
    font-family: 'Galada', cursive;
    color: #8d453d;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.85;
    background-color: lightgoldenrodyellow;
    font-family: 'Galada', cursive;
    color: #8d453d;
}

h2{
    float: left;
    text-align: center;
    font-size: xx-large;
    font-family: 'Galada', cursive;
    color: #8d453d;
}

#name{
    padding-left: 48%;
    padding-right: 800px;
}

a:link {
    text-decoration: none;
    color: #8d453d;
}

a:visited {
    color: #8d453d;
}

#postArea{
    opacity: .5;
    width: 1075px;
    height: 250px;
    margin-left: 500px;
    margin-top: 350px;
}

#comment{
    width: 75%;
    height: 15%
}

#submitBtn{
    float: right;
    padding-top: 0%;
    margin-top: 0%;
    width: 22%;
    height: 17%;
}

#postitLogo{
    padding-left: 47%;
}

